/* You can add global styles to this file, and also import other style files */
.mainpg{
    background-color: #e0e0e0;
    padding: 50px 20%;
    min-height: 94vh;
}
.search-bar{
    width: 100%;
    font-size: larger;
    margin-bottom: 20px;
}
.lesson-picker{
    border-radius: 10px;
    padding: 50px 100px;
    margin: 20px 0px;
    background-color: white;
 }
 .filter{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
}
.illustration{
    width: 200px;
    height: 200px;
}