**/.idea

**/bin

**/obj

**/node_modules

.vscode/

**/LangPlatform.Application/bin
**/LangPlatform.Application/obj

**/LangPlatform.Domain/bin
**/LangPlatform.Domain/obj

 LangPlatform.Infrastructure/bin
 LangPlatform.Infrastructure/obj

 LangPlatform.WebApi/bin
 LangPlatform.WebApi/obj

