<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="mainpg" >
    <div  class="lesson-picker">
        <h1 class="global-title">Write your own article</h1>
        <input  [(ngModel)]="lesson.title" class="title-input" type="text" name="" id="" placeholder="Title">
        
        <select id="langLabeled" class="form-select" aria-label="Language" aria-selected="" [(ngModel)]="lesson.languageId">
            <option *ngFor="let lang of langs" value="{{lang.id}}">{{lang.name}}</option>
        </select>
    
        <select class="form-select" aria-label="Difficulty" [(ngModel)]="lesson.categoryId">
            <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
        </select>
        <div class="file-form">
            <label for="formFileLg" class="form-label">Choose preview image</label>
            <input (change)="uploadFile($event,lesson)" accept="image/*" class="form-control form-control-lg" id="formFileLg" type="file">
          </div>
    </div>
    <div class="lesson-picker" *ngFor="let item of sections">
        <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <h1 class="order-title">{{sections.indexOf(item)+1}}</h1>
                    <input [(ngModel)]="item.title" class="title-input" type="text" name="" id="" placeholder="Title">
                </div>
                
                    <img (click)="deleteSection(sections.indexOf(item))" style="margin-top: 20px;" class="trash" src="../../../assets/trash-can.png"  alt="">
                
            </div>
        <div>
        <textarea class="w-100" [(ngModel)]="item.rawText" rows="15" placeholder="You are cencored only by your fantasy"></textarea>
        </div>
        <div class="file-form">
            <label for="formFileLg" class="form-label">Choose image</label>
            <input (change)="uploadFile($event,item)" accept="image/*" class="form-control form-control-lg" id="formFileLg" type="file">
          </div>
    </div>
    <div class="lesson-picker clickable d-flex" (click)="addSection()   ">
        <img src="../../../assets/icons8-plus-24.png" alt="">
        <h1 style="font-size: 30px; padding-left: 33px;">Add section</h1>
    </div>
    <div class="lesson-picker">
        <button  class="btn btn-outline-success" (click)="postArticle()">Send</button>
    </div>
</div>