<div class="mainpg">
    <div class="lesson-picker">
        <div class="anketa">
            <input class="search-bar" type="text" placeholder="Few words about you">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Show me
            </label>
        </div>
        
        
    </div>
    <div class="body lesson-picker">
        <tabset>
          <tab heading="Find companion" id="tab1">Basic content</tab>
          <tab heading="Friend list">Basic content 1</tab>
        </tabset>
  </div>
</div>